body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

#status {
  margin: 20px;
}

#graph {
  margin: 20px;
}
